<div>
  <div class="row" style="background:white">
    <div class="col-8">
      <div class="row">
        <div class="col-sm-8">
          <h2 style="float: right"><strong>{{exam.name}}</strong></h2>
        </div>
       

      </div>
      <div class='row' *ngFor="let x of exam.questions; let i = index" style="margin: 3px">
        <div class="qItem" id="questionRegionItem_6022">
          <h6 class="qItem-QTitle">
            <strong>Câu hỏi số {{i+1}}: {{x.content}} </strong>

          </h6>
          
          <div>
              <p *ngIf="!x.tasks.length" style="color: red"> Chưa có câu trả lời </p>
          </div>
          <div class="qItem-Answer">
            <input type="hidden" id="hidden_6022" name="hidden_6022" class="hiddenQIDCSS" data-id="6022" value="B">
            <ul class="qItem-Answer-ul">
              <li *ngFor="let y of x.answers" (click)="updateAnswer(x.id,y.id)">
                <div class="checkbox checkbox-success checkbox-inline">
                  <i *ngIf=" y.question_answer.right;else wrong " class="icofont icofont-check-circled"></i>
                  <ng-template #wrong> <i class="icofont icofont-not-allowed"></i></ng-template>
                  <ng-template #wrong> <i  *ngIf="x.tasks.length&&x.tasks[0].taskExamQuestion.answer_id==y.id;else choose"class="icofont icofont-not-allowed"></i></ng-template>
                  <ng-template #choose> <input type="checkbox" disabled></ng-template>

                  <label for="q_6022A">

                    <p>{{y.content}}</p>

                  </label>
                </div>
              </li>



            </ul>
          </div>
        </div>
      </div>

    </div>
   
  </div>
</div>