<div class="table-wrapper">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-6">
        <h2>Manage <b>Users</b></h2>
      </div>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>    
        <th>User name</th>
        <th>Full Name</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users;let i =index">
        <th scope="row">{{i+1}}</th>
        <td>{{item.username}}</td>
        <td>{{item.first_name}} {{item.last_name}}</td>
        <td>
          <select id="roles" class="form-control form-control-success" style="width: 40%" (change)="onChangeRole(item)" name="role" [(ngModel)]="item.role">
            <option *ngIf="item.role==1 " value="1" selected="selected">User</option>
            <option *ngIf="item.role==2 " value="2" selected="selected">Mod</option>
            <option *ngIf="item.role==3 " value="3" selected="selected">Admin</option>
            <option *ngIf="item.role==0 " value="0" selected="selected">Band</option>
            <option *ngIf="item.role!=1 " value="1">User</option>
            <option *ngIf="item.role!=2 " value="2">Mod</option>
            <option *ngIf="item.role!=3 " value="3">Admin</option>
            <option *ngIf="item.role!=0 " value="0">Band</option>
          </select> </td>
        <th><button (click)='openModal(i)' class="btn btn-success">Detail</button></th>
      
      </tr>

  </table>
  <div class="col-md-8 col-sm-8 grid-marg   in stretch-card">

    <ngb-pagination [collectionSize]="5" [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"
      class="pagination-separated pagination-danger"></ngb-pagination>

  </div>
</div>
