<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Ngân hàng câu hỏi'" [classHeader]="true" [blockClass]="'table-border-style'">

      <div class="row" style="margin: 1%">

        <div class="table-responsive col-12">
          <table class="table table-hover ">
            <thead>
              <tr>
                <td class="col-6"></td>
                <td class="col-3">Câu hỏi</td>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listQuestion;let i= index">
                <td><button class="btn btn-success" (click)="addQuestion(item.id,i)">Thêm</button></td>
                <td>
                  <p>{{item.content}}</p>
                </td>

              </tr>

            </tbody>
          </table>
          <ngb-pagination [(collectionSize)]="maxsize" [pageSize]="6" [(page)]="cpage" (pageChange)="loadPage()"aria-label="Default pagination" class="pagination-separated pagination-danger"></ngb-pagination>
   
        </div>

        
       
      </div>
    </app-card>
  </div>
</div>