<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Thông tin bài thi</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div>
          
          <div class="form-group row">
            <div class="col-sm-4">
              <label class="col-form-label" >Tên bài thi</label>
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control form-control" name="examName" [(ngModel)]="exam.name">
              
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4">
              <label class="col-form-label" >Tổng điểm bài thi</label>
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control form-control"  name="examScore" [(ngModel)]="exam.score">
              
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4">
              <label class="col-form-label" >Thời gian thi</label>
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control form-control" name="examTime" [(ngModel)]="exam.timedo">
              
            </div>
          </div>
        </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-success" (click)="save()"  (click)="modal.dismiss('cancel click')">Ok</button>
  </div>