<div class="row">
  <div *ngFor ="let x of topics"class="col-md-4 grid-margin stretch-card">
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title">{{x.name}} </h4>
        <div class="template-demo">
          <table class="table mb-0">
           
            
              <tr>
                  <a *ngIf="role==2"><button class="btn btn-primary" type="button" (click)="open(x.id)">Thêm bài thi</button></a>
                  <a *ngIf="role==3"><button class="btn btn-primary" type="button">Xóa môn học</button></a>
                  <a *ngIf="role>=1"href="/topics/{{x.id}}"><button class="btn btn-primary" type="button">Chọn</button></a>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="footer">
    <div class="col-md-8 col-sm-8 grid-margin stretch-card">
      
          <ngb-pagination [collectionSize]="40" [pageSize]="10" [page]="1" aria-label="Default pagination" class="pagination-separated pagination-danger"></ngb-pagination>
   
    </div>
  </div>