<div class="row">
  <div *ngFor ="let x of exams"class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{x.name}} </h4>
        <div class="template-demo">
          <table class="table mb-0">
            <thead>
              <tr>
                <th class="pl-0"></th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pl-0">Thời gian làm bài</td>
                <td class="pr-0 text-right"><div class="badge badge-pill badge-primary">{{x.timedo}} phút</div></td>
              </tr>
              <tr>
                <td class="pl-0">Tổng điểm bài thi</td>
                <td class="pr-0 text-right"><div class="badge badge-pill badge-primary">{{x.score}} </div></td>
              </tr>
              <tr>
               <a *ngIf="role>=2"href="mod/exams/{{x.id}}"><button class="btn btn-primary" type="button">Sửa</button></a>
               <a *ngIf="role>=2"><button class="btn btn-primary" type="button" (click)="delete(x)">Xóa</button></a>
               <a *ngIf="role==1"href="/exams/{{x.id}}?timedo={{x.timedo}}&&score={{x.score}}&&title={{x.name}}" ><button class="btn btn-primary" type="button">Chọn</button></a>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-8 grid-margin stretch-card">
      
          <ngb-pagination [collectionSize]="40" [pageSize]="10" [page]="1" aria-label="Default pagination" class="pagination-separated pagination-danger"></ngb-pagination>
   
    </div>
  </div>